body {
    background: #2b2b2b;
    font-family: "Work Sans", sans-serif;

}
a{
    text-decoration: none;
}
/* font faimly */
.font-monospace {
    font-family: "Space Mono", monospace;
}

.image-wrapper {
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

/* buttons */
nav .btn-primary {
    padding: 12px 24px;
}

.btn-primary {
    background-color: #A259FF;
    border-color: #A259FF;
    color: #ffff;
    padding: 12px 24px;

}

.btn-primary:hover {
    background-color: #9d4edd;
    border-color: #9d4edd;
}

.btn-secondary {
    color: #A259FF;
    background: transparent;
    border: 3px solid #A259FF;
    padding: 12px 35px;
}

.btn-secondary:hover {
    background: transparent;
    border: 3px solid #9d4edd;
}

/* colors and backgrounds */
.text-secondary {
    color: #ebebeb !important;
}

.text-grey {
    color: #858584;
}

.bg-secondary {
    background: #2B2B2B !important
}

.bg-dark {
    background: #3B3B3B !important;
}

.text-primary {
    color: #A259FF !important;
}



/* padding and margins */
.pt-15 {
    padding-top: 150px;
}

.pt-20 {
    padding-top: 300px;

}

/* font sizes an weights */
.fs-14 {
    font-size: 15px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-38 {
    font-size: 38px;
}

/* heading and paragrpahs */
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Space Mono", monospace; */
    margin: 0;
}

h1 {
    font-size: 70px;
    font-family: "Work Sans", sans-serif;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 38px;
}

p {
    margin: 0;
    color: white;
}

/* width and height */

.w-80 {
    width: 100%;
}

/* navbar */
.navbar.scrolled {
    background: #3B3B3B;
}

.nav-link {
    color: #ffff;

}

.navbar-nav .nav-link.active {
    color: #A259FF !important;

}

.nav-link:hover {
    color: #A259FF;

}

/* hero section */
.hero-section .btn-primary {
    padding: 15px 30px;

}

/* creators section */
.cerators-section .btn-secondary {
    padding: 12px 35px;
}

.cerators-section .avatar-box {
    border-radius: 20px;
}

/* browse section */
.browse-box:hover img,
.browse-box img:hover {
    transition: .3s;

}

.browse-box .card-body {
    top: 25%;
    display: none;
    transition: .3s;
}

.browse-box .front:hover,
.browse-box:hover .front {
    filter: blur(5px);

}

.browse-box:hover .card-body {
    display: flex;
    left: 30%;
}

/* bg-image section */
.bg-image-section {
    background: url(/assets/images/NFT\ Highlight.png) center center / cover;
    padding-bottom: 500px;
}

/* wallet section */
.wallet-section .card {
    border-radius: 30px;
}

/* weely-section */
.subscribe-box input {
    width: 380px;
}

.subscribe-box .subscribe-btn {
    left: 170px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 17px 30px;
}

.subscribe-box input:focus {
    outline: 0;
}

/* footer */
footer a:hover{
 color: #9d4edd;
 cursor:  pointer;
}
footer .social-icons {
    cursor: pointer;
}

footer .social-icons:hover {
    color: #A259FF;
}

footer .subscribe-box .subscribe-btn {
    left: 200px;
}

footer .line {
    content: "";
    height: 0.5px;
    background-color: #858584;
}

@media screen and (max-width:575.98px) {
    h1 {
        font-size: 60px;
    }

    .fs-38 {
        font-size: 30px;

    }

    .pt-15 {
        padding-top: 100px;
    }

    .subscribe-box input {
        width: 100%;
    }
}